$myColor: red;

$color: #80d144;
$primaryColor: #000f89;

$mainBackgroundColor: lightblue;
$primaryBackgroundColor: white;
$secondBackgroundColor: lightgray;
$ThirdBackgroundColor: lightgray;
$FouthBackgroundColor: lightgray;

$bodyPaddingTop: 10px;
$bodyPaddingLeft: 10px;
$bodyPaddingRight: 10px;
$bodyPaddingBottom: 10px;

$bodyMarginTop: 0px;
$bodyMarginLeft: 0px;
$bodyMarginRight: 0px;
$bodyMarginBottom: 0px;

$boxMargin: 10px;
$boxPadding: 5px;

$borderRadiusFull: 6px;
$borderRadiusHalf: 6px 6px 0px 0px;

$cardSmallHeight: 100px;
$cardMiddleHeight: 250px;
$cardBigHeight: 400px;

body {
  background-color: $primaryBackgroundColor;
  padding: $bodyPaddingTop $bodyPaddingRight $bodyPaddingBottom $bodyPaddingLeft;
  margin: $bodyMarginTop $bodyMarginRight $bodyMarginBottom $bodyMarginLeft;
  // border: 5px solid red;
}

/* hide scrollbar but allow scrolling */
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.pageContainer {
  width: 100%;
}
.boxContainer {
  width: 100%;
  padding: $boxPadding;
}

.boxContainer .subject {
  width: 100%;
  font-size: 22px;
  color: black;
}
.boxContainer .Subsubject {
  width: 100%;
  font-size: smaller;
  color: #c4c4c4;
}
.boxContainer .boxImg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.boxContainer .boxDesc {
  width: 100%;
  padding: 10px;
  background-color: whitesmoke;
}

.boxContainer .caption {
  font-size: 16px;
  color: $primaryColor;
}

.styleBoxNormal {
  border: 1px solid lightgrey;
}

.box {
  width: 100%;
  background-color: $primaryBackgroundColor;
  margin-top: $boxMargin;
}
.flexRow {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  overflow-x: scroll;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;

  padding: $boxPadding;
}

button {
  border: none;
  // background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
  font-weight: 400;
  padding: 10px;
  min-width: 32px;
  background-color: $color;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: lighten($color, 10);
}

.card {
  width: 20%;
  background-color: $primaryBackgroundColor;
  min-height: 100px;
  margin-top: $boxMargin;
  margin-bottom: $boxMargin;
  border: 1px solid lightgray;
  margin-right: 10px;
  padding: 5px;
  border-radius: $borderRadiusHalf;
}

.cardImage {
  width: 20%;
  height: $cardMiddleHeight;
  background-color: $primaryBackgroundColor;
  min-height: 100px;
  margin-top: $boxMargin;
  margin-bottom: $boxMargin;
  border: 1px solid lightgray;
  margin-right: 10px;
  border-radius: $borderRadiusHalf;
}
.cardImage img {
  width: 100%;
  height: 35%;
}
.cardImage div {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.cardImage .headcaption {
  color: $primaryColor;
  font-size: 18px;
}
.cardImage .subcaption {
  color: lighten($primaryColor, 30);
  font-size: 14px;
}
.cardImage .descBox {
  color: lighten($primaryColor, 30);
  font-size: 14px;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
}

.boxShadow {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

h1 {
  color: $myColor;
}

// Tint color .box
$color: #80d144;
$tiles: 10;

@function tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

* {
  box-sizing: border-box;
}

.title {
  font: bold 2rem/1.5 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 0 20px;
  padding: 60px 0 0;
}

.color-list {
  float: left;
  display: block;
  width: 100%;
}

.tile {
  width: 70px;
  height: 70px;
  border: 1px solid transparentize(#ddd, 0.15);
  border-radius: 3px;
  box-shadow: 0 0 0 5px #fff inset;
  float: left;
  margin: 0 0 20px 20px;
  background-color: $color;
  &--tint {
    @for $i from 1 through $tiles {
      &:nth-child(#{$i}) {
        background: tint($color, 10 * $i);
      }
    }
  }
  &--lighten {
    @for $i from 1 through $tiles {
      &:nth-child(#{$i}) {
        background: lighten($color, 10 * $i);
      }
    }
  }
  &--shade {
    @for $i from 1 through $tiles {
      &:nth-child(#{$i}) {
        background: shade($color, 10 * $i);
      }
    }
  }
  &--darken {
    @for $i from 1 through $tiles {
      &:nth-child(#{$i}) {
        background: darken($color, 10 * $i);
      }
    }
  }
}
